body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:891px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:837px;
  height:493px;
}
#u0 {
  position:absolute;
  left:36px;
  top:105px;
  width:837px;
  height:493px;
}
#u1 {
  position:absolute;
  left:2px;
  top:238px;
  width:833px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:182px;
}
#u3 {
  position:absolute;
  left:20px;
  top:931px;
  width:268px;
  height:182px;
}
#u4 {
  position:absolute;
  left:2px;
  top:83px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:418px;
}
#u5 {
  position:absolute;
  left:298px;
  top:695px;
  width:593px;
  height:418px;
}
#u6 {
  position:absolute;
  left:2px;
  top:201px;
  width:589px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:124px;
}
#u7 {
  position:absolute;
  left:50px;
  top:797px;
  width:239px;
  height:124px;
}
#u8 {
  position:absolute;
  left:2px;
  top:54px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:130px;
  top:727px;
  width:166px;
  height:22px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9_input:disabled {
  color:grayText;
}
#u10 {
  position:absolute;
  left:127px;
  top:759px;
  width:169px;
  height:23px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10_input:disabled {
  color:grayText;
}
#u11 {
  position:absolute;
  left:44px;
  top:695px;
  width:39px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:25px;
  background-color:#199ED8;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  position:absolute;
  left:169px;
  top:696px;
  width:39px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:25px;
  background-color:#199ED8;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:83px;
  top:697px;
  width:76px;
  height:23px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u13_input:disabled {
  color:grayText;
}
#u14 {
  position:absolute;
  left:218px;
  top:697px;
  width:76px;
  height:23px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u14_input:disabled {
  color:grayText;
}
#u15 {
  position:absolute;
  left:36px;
  top:727px;
  width:89px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  background-color:#199ED8;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:39px;
  top:759px;
  width:72px;
  height:22px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:22px;
  background-color:#199ED8;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u17 {
  position:absolute;
  left:551px;
  top:827px;
  width:16px;
  height:18px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u19 {
  position:absolute;
  left:551px;
  top:901px;
  width:16px;
  height:18px;
}
#u20 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u21 {
  position:absolute;
  left:536px;
  top:997px;
  width:16px;
  height:18px;
}
#u22 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u23 {
  position:absolute;
  left:611px;
  top:952px;
  width:16px;
  height:18px;
}
#u24 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u25 {
  position:absolute;
  left:637px;
  top:857px;
  width:16px;
  height:18px;
}
#u26 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u27 {
  position:absolute;
  left:581px;
  top:857px;
  width:16px;
  height:18px;
}
#u28 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u29 {
  position:absolute;
  left:393px;
  top:797px;
  width:16px;
  height:18px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u31 {
  position:absolute;
  left:393px;
  top:871px;
  width:16px;
  height:18px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u33 {
  position:absolute;
  left:378px;
  top:967px;
  width:16px;
  height:18px;
}
#u34 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u35 {
  position:absolute;
  left:453px;
  top:922px;
  width:16px;
  height:18px;
}
#u36 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u37 {
  position:absolute;
  left:479px;
  top:827px;
  width:16px;
  height:18px;
}
#u38 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u39 {
  position:absolute;
  left:423px;
  top:827px;
  width:16px;
  height:18px;
}
#u40 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u41 {
  position:absolute;
  left:561px;
  top:871px;
  width:16px;
  height:18px;
}
#u42 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u43 {
  position:absolute;
  left:561px;
  top:945px;
  width:16px;
  height:18px;
}
#u44 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u45 {
  position:absolute;
  left:546px;
  top:1041px;
  width:16px;
  height:18px;
}
#u46 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u47 {
  position:absolute;
  left:621px;
  top:996px;
  width:16px;
  height:18px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u49 {
  position:absolute;
  left:647px;
  top:901px;
  width:16px;
  height:18px;
}
#u50 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u51 {
  position:absolute;
  left:591px;
  top:901px;
  width:16px;
  height:18px;
}
#u52 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u53 {
  position:absolute;
  left:403px;
  top:841px;
  width:16px;
  height:18px;
}
#u54 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u55 {
  position:absolute;
  left:403px;
  top:915px;
  width:16px;
  height:18px;
}
#u56 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u57 {
  position:absolute;
  left:388px;
  top:1011px;
  width:16px;
  height:18px;
}
#u58 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u59 {
  position:absolute;
  left:463px;
  top:966px;
  width:16px;
  height:18px;
}
#u60 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u61 {
  position:absolute;
  left:749px;
  top:753px;
  width:16px;
  height:18px;
}
#u62 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u63 {
  position:absolute;
  left:652px;
  top:871px;
  width:16px;
  height:18px;
}
#u64 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u65 {
  position:absolute;
  left:637px;
  top:967px;
  width:16px;
  height:18px;
}
#u66 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u67 {
  position:absolute;
  left:712px;
  top:922px;
  width:16px;
  height:18px;
}
#u68 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u69 {
  position:absolute;
  left:738px;
  top:827px;
  width:16px;
  height:18px;
}
#u70 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u71 {
  position:absolute;
  left:682px;
  top:827px;
  width:16px;
  height:18px;
}
#u72 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u73 {
  position:absolute;
  left:494px;
  top:767px;
  width:16px;
  height:18px;
}
#u74 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u75 {
  position:absolute;
  left:494px;
  top:841px;
  width:16px;
  height:18px;
}
#u76 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u77 {
  position:absolute;
  left:479px;
  top:937px;
  width:16px;
  height:18px;
}
#u78 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u79 {
  position:absolute;
  left:788px;
  top:803px;
  width:16px;
  height:18px;
}
#u80 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u81 {
  position:absolute;
  left:525px;
  top:915px;
  width:16px;
  height:18px;
}
#u82 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u83 {
  position:absolute;
  left:494px;
  top:1003px;
  width:16px;
  height:18px;
}
#u84 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u85 {
  position:absolute;
  left:510px;
  top:1085px;
  width:16px;
  height:18px;
}
#u86 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u87 {
  position:absolute;
  left:585px;
  top:1040px;
  width:16px;
  height:18px;
}
#u88 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u89 {
  position:absolute;
  left:611px;
  top:945px;
  width:16px;
  height:18px;
}
#u90 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u91 {
  position:absolute;
  left:510px;
  top:945px;
  width:16px;
  height:18px;
}
#u92 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u93 {
  position:absolute;
  left:367px;
  top:885px;
  width:16px;
  height:18px;
}
#u94 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u95 {
  position:absolute;
  left:427px;
  top:945px;
  width:16px;
  height:18px;
}
#u96 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u97 {
  position:absolute;
  left:352px;
  top:1055px;
  width:16px;
  height:18px;
}
#u98 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:28px;
}
#u99 {
  position:absolute;
  left:427px;
  top:1010px;
  width:16px;
  height:18px;
}
#u100 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:151px;
}
#u101 {
  position:absolute;
  left:570px;
  top:835px;
  width:244px;
  height:141px;
}
#u102 {
  position:absolute;
  left:10px;
  top:10px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 102, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u103 {
  position:absolute;
  left:575px;
  top:837px;
  width:229px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:113px;
}
#u105 {
  position:absolute;
  left:577px;
  top:857px;
  width:227px;
  height:113px;
}
#u106 {
  position:absolute;
  left:2px;
  top:48px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u107 {
  position:absolute;
  left:57px;
  top:32px;
  width:209px;
  height:26px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u108 {
  position:absolute;
  left:0px;
  top:4px;
  width:209px;
  word-wrap:break-word;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u109 {
  position:absolute;
  left:286px;
  top:32px;
  width:209px;
  height:26px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u110 {
  position:absolute;
  left:0px;
  top:4px;
  width:209px;
  word-wrap:break-word;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u111 {
  position:absolute;
  left:541px;
  top:32px;
  width:209px;
  height:26px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u112 {
  position:absolute;
  left:0px;
  top:4px;
  width:209px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:230px;
}
#u114 {
  position:absolute;
  left:68px;
  top:1238px;
  width:336px;
  height:230px;
}
#u115 {
  position:absolute;
  left:2px;
  top:107px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:224px;
}
#u116 {
  position:absolute;
  left:487px;
  top:1238px;
  width:370px;
  height:224px;
}
#u117 {
  position:absolute;
  left:2px;
  top:104px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
